<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
            <h1 class="text-center">{{ settings.title }}</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">            
            <ul>
                <li class="tm-nav-item active"><a href="{% url 'homepage' %}" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Blog Home
                </a></li>
            </ul>
        </nav>
        <div class="tm-mb-65">


            {% if settings.facebook_url %}
            <a rel="nofollow" href="{{ settings.facebook_url }}" class="tm-social-link">
                <i class="fab fa-facebook tm-social-icon"></i>
            </a>
            {% else %}
            {% endif %}


            {% if settings.twitter_url %}
            <a href="{{ twitter_url }}" class="tm-social-link">
                <i class="fab fa-twitter tm-social-icon"></i>
            </a>
            {% else %}
            {% endif %}


            {% if settings.instagram_url %}
            <a href="{{ settings.instagram_url }}" class="tm-social-link">
                <i class="fab fa-instagram tm-social-icon"></i>
            </a>
            {% else %}
            {% endif %}


            {% if settings.linkendin_url %}
            <a href="https://linkedin.com" class="tm-social-link">
                <i class="fab fa-linkedin tm-social-icon"></i>
            </a>
            {% else %}
            {% endif %}

        </div>
        <p class="tm-mb-80 pr-5 text-white">
            {{ settings.description }}
        </p>
    </div>
</header>